<% content_for :head do %>
<meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='chrome=1'>



    <%= javascript_include_tag '/javascripts/flot/jquery_002.js' %>
    <%= javascript_include_tag '/javascripts/flot/jquery.js' %>
    <%= javascript_include_tag '/javascripts/flot/jquery-1.js' %>
    <%= javascript_include_tag '/javascripts/flot/timelog.js' %>
    <%= javascript_include_tag '/javascripts/flot/wi_feedback.js' %>

     <title><%= title %></title>
        <%= stylesheet_link_tag 'thingreenline/1', :media => 'screen,projection' %>
<% end %>

<p>
    Pomocou týchto dvoch formulárov na vyhľadávanie notebookov je možné porovnať ceny notebookov vyhľadaných podľa vami zvolených kritérií.
    <br>
    Po odoslaní formulárov sa zobrazí graf v ktorom sú jednotlivé notebooky reprezentované bodmi usporiadanými podľa priemernej ceny v sledovaných obchodoch. 


</p>
<% form_tag('/compare', {:method => "post"}) do %>
 <div id="form_left" class="round">

    <%= label_tag(:name1, "Názov:") %>
    <%= text_field_tag :name1, params[:name1] %><br>

    <%= label_tag(:RAM1, "Pamäť RAM:") %>
    <%= text_field_tag :RAM1, params[:RAM1], :size => 10 %>GB<br>
   
    <%= label_tag(:procesor_type1, "Typ procesoru:") %>
    <%= text_field_tag :processor_type1, params[:processor_type1] %><br>

    <%= label_tag(:processor_freq1, "Frekvencia procesoru:") %>
    <%= text_field_tag :processor_freq1, params[:processor_freq1], :size => 10 %>GHz <br>

    <%= label_tag(:display_diag1, "Uhlopriečka displeja:") %>
    <%= text_field_tag :display_diag1, params[:display_diag1], :size => 10 %>"<br>

    <%= label_tag(:display_resolution_hor1, "Rozlíšenie displeja:") %>
    <%= text_field_tag :display_resolution_hor1, params[:display_resolution_hor1], :size => 10 %>

    x
    <%= text_field_tag :display_resolution_ver1, params[:display_resolution_ver1], :size => 10 %><br>

    <%= label_tag(:min_disc_capacity1, "Minimálna kapacita HDD:") %>
    <%= text_field_tag :min_disc_capacity1, params[:min_disc_capacity1], :size => 10 %>GB<br>

    <%= label_tag(:max_disc_capacity1, "Maximálna kapacita HDD:") %>
    <%= text_field_tag :max_disc_capacity1, params[:max_disc_capacity1], :size => 10 %>GB<br>

    <%= label_tag(:disc_rotations1, "Otáčky HDD:") %>
    <%= text_field_tag :disc_rotations1, params[:disc_rotations1], :size => 10 %><br>

    <%= label_tag(:webcam1, "Webkamera:  ") %>
    <%= radio_button_tag(:webcam1, true) %>áno
    <%= radio_button_tag(:webcam1, false) %>nie<br>

    <%= label_tag(:wifi1, "Wifi:") %>
    <%= radio_button_tag(:wifi1, true )%>áno
    <%= radio_button_tag(:wifi1, false) %>nie<br>

    <%= label_tag(:bluetooth1, "Bluetooth:  ") %>
    <%= radio_button_tag(:bluetooth1, true) %>áno
    <%= radio_button_tag(:bluetooth1, false) %>nie<br>

    <%= label_tag(:network1, "Sieťová karta:") %>
    <%= select(nil, :network1, Notebook.all(:select => "DISTINCT(network)", :order => 'network', :conditions => ['network != ?',""]).collect{|p| [p.network,p.network]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:numeric_keyboard1, "Numerická klávesnica:  ") %>
    <%= radio_button_tag(:numeric_keyboard1, true) %>áno
    <%= radio_button_tag(:numeric_keyboard1, false) %>nie<br>

    <%= label_tag(:weight1, "Hmotnosť:") %>
    <%= select(nil, :weight1, Notebook.all(:select => "DISTINCT(weight)", :order => 'weight', :conditions => ['weight != ?',""]).collect{|p| [p.weight,p.weight]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:drive1, "Mechanika:") %>
    <%= select(nil, :drive1, Notebook.all(:select => "DISTINCT(drive)", :order => 'drive', :conditions => ['drive != ?',""]).collect{|p| [p.drive,p.drive]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:grafic_card1, "Grafická karta:") %>
    <%= select(nil, :grafic_card1, Notebook.all(:select => "DISTINCT(grafic_card)", :order => 'grafic_card', :conditions => ['grafic_card != ?',""]).collect{|p| [p.grafic_card,p.grafic_card]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:batery_life_time1, "Výdrž na batérie:") %>
    <%= select(nil, :batery_life_time1, Notebook.all(:select => "DISTINCT(batery_life_time)", :order => 'batery_life_time', :conditions => ['batery_life_time != ?',""]).collect{|p| [p.batery_life_time,p.batery_life_time]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:card_reader1, "Čítačka kariet:  ") %>
    <%= radio_button_tag(:card_reader1, true) %>áno
    <%= radio_button_tag(:card_reader1, false) %>nie<br>

    <%= label_tag(:OS1, "Operačný systém:") %>
    <%= text_field_tag :OS1, params[:OS1] %><br>

    <%= label_tag(:monitor_out1, "Výstup na monitor:") %>
    <%= text_field_tag :monitor_out1, params[:monitor_out1] %><br>

    <%= label_tag(:USB_number1, "Počet USB:") %>
    <%= text_field_tag :USB_number1, params[:USB_number1] %><br>

 </div>

 <div id="form_right" class="round">
    <%= label_tag(:name2, "Názov:") %>
    <%= text_field_tag :name2, params[:name2] %><br>
   
    <%= label_tag(:RAM2, "Pamäť RAM:") %>
    <%= text_field_tag :RAM2, params[:RAM2], :size => 10 %>GB<br>

    <%= label_tag(:procesor_type2, "Typ procesoru:") %>
    <%= text_field_tag :processor_type2, params[:processor_type2] %><br>

    <%= label_tag(:processor_freq2, "Frekvencia procesoru:") %>
    <%= text_field_tag :processor_freq2, params[:processor_freq2], :size => 10 %>GHz<br>

    <%= label_tag(:display_diag2, "Uhlopriečka displeja:") %>
    <%= text_field_tag :display_diag2, params[:display_diag2], :size => 10 %>"<br>

    <%= label_tag(:display_resolution_hor2, "Rozlíšenie displeja:") %>
    <%= text_field_tag :display_resolution_hor2, params[:display_resolution_hor2], :size => 10 %>

    x
    <%= text_field_tag :display_resolution_ver2, params[:display_resolution_ver2], :size => 10 %><br>

    <%= label_tag(:min_disc_capacity2, "Minimálna kapacita HDD:") %>
    <%= text_field_tag :min_disc_capacity2, params[:min_disc_capacity2], :size => 10 %>GB<br>

    <%= label_tag(:max_disc_capacity2, "Maximálna kapacita HDD:") %>
    <%= text_field_tag :max_disc_capacity2, params[:max_disc_capacity2], :size => 10 %>GB<br>

    <%= label_tag(:disc_rotations2, "Otáčky HDD:") %>
    <%= text_field_tag :disc_rotations2, params[:disc_rotations2], :size => 10 %><br>

    <%= label_tag(:webcam2, "Webkamera:  ") %>
    <%= radio_button_tag(:webcam2, true) %>áno
    <%= radio_button_tag(:webcam2, false) %>nie<br>

    <%= label_tag(:wifi2, "Wifi:") %>
    <%= radio_button_tag(:wifi2, true) %>áno
    <%= radio_button_tag(:wifi2, false) %>nie<br>

    <%= label_tag(:bluetooth2, "Bluetooth:  ") %>
    <%= radio_button_tag(:bluetooth2, true) %>áno
    <%= radio_button_tag(:bluetooth2, false) %>nie<br>

    <%= label_tag(:network2, "Sieťová karta:") %>
    <%= select(nil, :network2, Notebook.all(:select => "DISTINCT(network)", :order => 'network', :conditions => ['network != ?',""]).collect{|p| [p.network,p.network]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:numeric_keyboard2, "Numerická klávesnica:  ") %>
    <%= radio_button_tag(:numeric_keyboard2, true) %>áno
    <%= radio_button_tag(:numeric_keyboard2, false) %>nie<br>

    <%= label_tag(:weight2, "Hmotnosť:") %>
    <%= select(nil, :weight2, Notebook.all(:select => "DISTINCT(weight)", :order => 'weight', :conditions => ['weight != ?',""]).collect{|p| [p.weight,p.weight]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:drive2, "Mechanika:") %>
    <%= select(nil, :drive2, Notebook.all(:select => "DISTINCT(drive)", :order => 'drive', :conditions => ['drive != ?',""]).collect{|p| [p.drive,p.drive]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:grafic_card2, "Grafická karta:") %>
    <%= select(nil, :grafic_card2, Notebook.all(:select => "DISTINCT(grafic_card)", :order => 'grafic_card', :conditions => ['grafic_card != ?',""]).collect{|p| [p.grafic_card,p.grafic_card]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:batery_life_time2, "Výdrž na batérie:") %>
    <%= select(nil, :batery_life_time2, Notebook.all(:select => "DISTINCT(batery_life_time)", :order => 'batery_life_time', :conditions => ['batery_life_time != ?',""]).collect{|p| [p.batery_life_time,p.batery_life_time]}, { :include_blank => true} )%>
    <br>

    <%= label_tag(:card_reader2, "Čítačka kariet:  ") %>
    <%= radio_button_tag(:card_reader2, true) %>áno
    <%= radio_button_tag(:card_reader2, false) %>nie<br>

    <%= label_tag(:OS2, "Operačný systém:") %>
    <%= text_field_tag :OS2, params[:OS2] %><br>

    <%= label_tag(:monitor_out2, "Výstup na monitor:") %>
    <%= text_field_tag :monitor_out2, params[:monitor_out2] %><br>

    <%= label_tag(:USB_number2, "Počet USB:") %>
    <%= text_field_tag :USB_number2, params[:USB_number2] %><br>

   
 </div>
 <div class="clear">
    <%= submit_tag("Porovnať") %>
 </div>
    
<% end %>

<% unless ((@data1 == [])&&(@data2 == [])) %>
<div id="graf" style="width: 700px; height: 500px; position: relative;"></div>

<br>

<div id="form_left" class="round">
<% @data1.each do |e|   %>
    <% if e[1].to_s == '0' then %>
      <li><%= link_to e[2]+", Cena: neznáma", detail_path(:code => e[3])  %> <br></li>
   <% else %>
      <li><%= link_to e[2]+", Cena: "+e[1].to_s+"€", detail_path(:code => e[3])  %> <br></li>
   <% end%>

<%end%>
</div>

<div id="form_right" class="round">
<% @data2.each do |e|   %>
   <% if e[1].to_s == '0' then %>
      <li><%= link_to e[2]+", Cena: neznáma", detail_path(:code => e[3])  %> <br></li>
   <% else %>
      <li><%= link_to e[2]+", Cena: "+e[1].to_s+"€", detail_path(:code => e[3])  %> <br></li>
   <% end%>



<%end%>
</div>

<script id="source" language="javascript" type="text/javascript">   

var p = [];
$(function () {
    var data1 = [], data2 = [];
    
    <% @data1.each do |e| %>
    data1.push (<%= array_or_string_for_javascript(e) %>)
    <% end %>
    <% @data2.each do |e| %>
    data2.push (<%= array_or_string_for_javascript(e) %>)
    <% end %>


    var plot = $.plot($("#graf"),
           [ { data: data1, color: '#FF8000', label: "Prvé vyhľadávanie"}, { data: data2, color: '#99ff00', label: "Druhé vyhľadávanie" }], {
               series: {
                   lines: { show: false },
                   points: { show: true }
               },
               grid: { hoverable: true, clickable: true },
               yaxis: { min: 0, max: 2500 },
               xaxis: { min: -1, max: 100, ticks: []}
             });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#graf").bind("plothover", function (event, pos, item)
    {
        if (item)
        {
            if (previousPoint != item.datapoint)
            {
                previousPoint = item.datapoint;

                $("#tooltip").remove();
                var x = item.datapoint[0],
                    y = item.datapoint[1];
                    z = ''
                var pt;
                for(pt in data1)
                {
                    if(data1[pt][0]==x && data1[pt][1]==y)
                    {
                        z = data1[pt][2]
                        break
                    }
                }
                if (z == '') 
                {
                    for(pt in data2)
                    {
                        if(data2[pt][0]==x && data2[pt][1]==y)
                        {
                            z = data2[pt][2]
                            break
                        }
                    }
                }
                if (y == 0) {y = '- '}

                showTooltip(item.pageX, item.pageY,
                            "Priemerná cena: " + y +"€"+ ", " + z);
            }

        }
    });

    $("#graf").bind("plotclick", function (event, pos, item) {
        if (item) {
            //$("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
            //plot.highlight(item.series, item.datapoint);
            var x = item.datapoint[0],
                    y = item.datapoint[1];
                    z = ''
                var pt;
                for(pt in data1)
                {
                    if(data1[pt][0]==x && data1[pt][1]==y)
                    {
                        z = data1[pt][3]
                    }
                }

                for(pt in data2)
                {
                    if(data2[pt][0]==x && data2[pt][1]==y)
                    {
                        z = data2[pt][3 ]
                    }
                }
            window.location= '/detail?code='+z;
        }
    });

});
</script>
<% end %>

