<% content_for :head do %>
<meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='chrome=1'>

    <%= javascript_include_tag '/javascripts/flot/jquery_002.js' %>
    <%= javascript_include_tag '/javascripts/flot/jquery.js' %>
    <%= javascript_include_tag '/javascripts/flot/jquery-1.js' %>
    <%= javascript_include_tag '/javascripts/flot/timelog.js' %>
    <%= javascript_include_tag '/javascripts/flot/wi_feedback.js' %>

     <title><%= title %></title>
        <%= stylesheet_link_tag 'thingreenline/1', :media => 'screen,projection' %>
<% end %>

<% unless @data == [] then%>
<div id="graf" style="width: 700px; height: 500px; position: relative;"></div> 
<% end %>

<%unless @notebook == nil%>
<div id="detail_left">
    <table>
      <% unless @notebook.name==nil then%><tr><td>Názov</td><td><%= @notebook.name %></td></tr><% end %>
      <% unless @notebook.mark==nil then%><tr><td>Značka</td><td><%= @notebook.mark %></td></tr><% end %>
      <% unless @notebook.processor_type==nil then%><tr><td>Typ procesora</td><td><%= @notebook.processor_type %></td></tr><% end %>
      <% unless @notebook.processor_freq==nil then%><tr><td>Frekvencia procesora</td><td><%= @notebook.processor_freq %> GHz</td></tr><% end %>
      <% unless @notebook.display_diag==nil then%><tr><td>Veľkosť displeja</td><td><%= @notebook.display_diag %>"</td></tr><% end %>
      <% unless ((@notebook.display_resolution_ver==nil)||(@notebook.display_resolution_hor==nil)) then%><tr><td>Rozlíšenie displeja</td><td><%= @notebook.display_resolution_hor %>px x <%=@notebook.display_resolution_ver %>px</td></tr><% end %>
      <% unless @notebook.memory_capacity==nil then%><tr><td>RAM</td><td><%= @notebook.memory_capacity %> GB</td></tr><% end %>
      <% unless @notebook.disc_capacity==nil then%><tr><td>Veľkosť disku</td><td><%= @notebook.disc_capacity %> GB</td></tr><% end %>
      <% unless @notebook.disc_rotations==nil then%><tr><td>Otáčky disku</td><td><%= @notebook.disc_rotations %> ot/min</td></tr><% end %>
      <% if @notebook.webcam==true then%><tr><td>Webkamera</td><td>áno</td></tr><% end %>
      <% unless @notebook.network==nil then%><tr><td>Sieťová karta</td><td><%= @notebook.network %></td></tr><% end %>
      <% if @notebook.wifi==true then%><tr><td>Wifi</td><td>áno</td></tr><% end %>
      <% if @notebook.bluetooth==true then%><tr><td>Bluetooth</td><td>áno</td></tr><% end %>
      <% if @notebook.numeric_keyboard==true then%><tr><td>Numerická klávesnica</td><td>áno</td></tr><% end %>
      <% unless @notebook.weight==nil then%><tr><td>Hmotnosť</td><td><%= @notebook.weight %> kg</td></tr><% end %>
      <% if @notebook.touchpad==true then%><tr><td>Touchpad</td><td>áno</td></tr><% end %>
      <% if @notebook.trackpoint==true then%><tr><td>Trackpoint</td><td>áno</td></tr><% end %>
      <% if @notebook.modem==true then%><tr><td>Modem</td><td>áno</td></tr><% end %>
      <% unless @notebook.drive==nil then%><tr><td>Optická mechanika</td><td><%= @notebook.drive %></td></tr><% end %>
      <% unless @notebook.grafic_card==nil then%><tr><td>Grafická karta</td><td><%= @notebook.grafic_card %></td></tr><% end %>
      <% unless @notebook.batery_life_time==nil then%><tr><td>Výdrž na batérie</td><td><%= @notebook.batery_life_time %> hod.</td></tr><% end %>
      <% if @notebook.card_reader==true then%><tr><td>Čítačka pamäťovích kariet</td><td>áno</td></tr><% end %>
      <% unless @notebook.OS==nil then%><tr><td>Operačný systém</td><td><%= @notebook.OS %></td></tr><% end %>
      <% unless @notebook.monitor_out==nil then%><tr><td>Výstup na monitor</td><td><%= @notebook.monitor_out %></td></tr><% end %>
      <% unless @notebook.USB_number==nil then%><tr><td>Počet USB portov</td><td><%= @notebook.USB_number %></td></tr><% end %>


       <% unless @ports == [] then %>
          <% @ports.each do |e|%>
            <tr><td><%= e.name %></td><td>áno</td></tr>
          <% end %>
       <% end %>

    </table>
</div>
<div id="detail_right">
    <img src= "<%= @notebook.picture_link%>" width= "250" height="200">
</div>    
<% end%>    

<% unless @data == [] then%>
<script id="source" language="javascript" type="text/javascript">

var p = [];
$(function () {
    var data = []


    <% @data.each do |e| %>
        pom = []
        <% unless e == nil then e.each do |e| %>
        pom.push (<%= array_or_string_for_javascript(e) %>)
        <% end end%>
    data.push(pom)
    <% end %>

    var plot = $.plot($("#graf"),
           [
               { data: data[1], color: 'red', label: 'euroshop'},
               { data: data[3], color: 'purple', label: "shm"},
               { data: data[4], color: 'fuchsia', label: "x-computers"},
               { data: data[5], color: 'green', label: "comtec"},
               { data: data[6], color: 'lime', label: "ASSI computer"},
               { data: data[7], color: '#9F0706', label: "mirocomputers"},
               { data: data[8], color: 'yellow', label: "witto"},
               { data: data[9], color: 'navy', label: "jkc"},
               { data: data[10], color: 'aqua', label: "sattva"},
               { data: data[11], color: 'black', label: "mobilpc"},
               { data: data[12], color: 'silver', label: "eshop4you"},
               { data: data[13], color: '#FF8000', label: "pc-cennik"}                   
           ], {
               series: {
                   lines: { show: true, lineWidth: 3 },
                   points: { show: true }
               },
               grid: { hoverable: true, clickable: false },
               yaxis: {minTickSize: 25},
               xaxis: {
                        mode: "time",
                        timeformat: "%d %b %y",
                        minTickSize: [2, "day"] 
                    }

             });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#graf").bind("plothover", function (event, pos, item)
    {
        if (item)
        {
            if (previousPoint != item.datapoint)
            {
                previousPoint = item.datapoint;

                $("#tooltip").remove();
                var x = item.datapoint[0],
                    y = item.datapoint[1];
                var date,day,month,year;
                //date = x.getTime().getDate();
                date = new Date(x)
                day = date.getDate()
                month = date.getMonth()+1
                year = date.getFullYear()

         
                showTooltip(item.pageX, item.pageY,
                            "Cena: " + y +"€, "+ "Dátum: " + day+"/"+month+"/"+year);
            }

        }
    });

});
</script>
<% end %>